#
# Copyright (C) 2026 SIP Point Consulting SRL
#
# This file is part of opensips, a free SIP server.
#
# opensips is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version
#
# opensips is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#


#
#
# ----------- global configuration parameters ------------------------
#
#

debug_mode = no
log_level = 3  # script troubleshooting mode
xlog_level = 3

memlog = 8
memdump = -2

sip_warning = no

check_via = no	# (cmd. line: -v)
dns = no        # (cmd. line: -r)
rev_dns = no    # (cmd. line: -R)
disable_dns_blacklist = yes
disable_dns_failover = yes
auto_aliases = no

exec_dns_threshold = 60000
exec_msg_threshold = 60000
udp_workers = 8

# ------------------ module loading ----------------------------------

socket=udp:${OPENSIPS_IP}:${OPENSIPS_PORT}
socket=tls:${OPENSIPS_IP}:${OPENSIPS_PORT}

mpath = "/usr/lib/x86_64-linux-gnu/opensips/modules/"

loadmodule "proto_udp.so"

loadmodule "proto_tls.so"

loadmodule "sl.so"

loadmodule "maxfwd.so"

loadmodule "textops.so"

loadmodule "sipmsgops.so"

loadmodule "options.so"

loadmodule "event_route.so"



loadmodule "topology_hiding.so"

loadmodule "signaling.so"

loadmodule "sqlops.so"
modparam("sqlops", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")

loadmodule "httpd.so"
modparam("httpd", "port", 8888)
modparam("httpd", "ip", "${HOST_IP}")

loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/var/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

loadmodule "mi_http.so"

loadmodule "rr.so"

loadmodule "rtp_relay.so"

loadmodule "rtpengine.so"
modparam("rtpengine", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("rtpengine", "db_table", "rtpengine")


loadmodule "mi_script.so"

loadmodule "permissions.so"
modparam("permissions", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")

loadmodule "tm.so"
modparam("tm", "fr_timeout", 2)
modparam("tm", "fr_inv_timeout", 70)
modparam("tm", "wt_timer", 20)
modparam("tm", "syn_branch", 0)
modparam("tm", "pass_provisional_replies", 1)
modparam("tm", "onreply_avp_mode", 1)

loadmodule "dialplan.so"
modparam("dialplan", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("dialplan", "partition", "sip_map:table_name=dialplan_sip;db_url=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE};")
modparam("dialplan", "partition", "did_map:table_name=dialplan_did;db_url=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE};")
loadmodule "dispatcher.so"
modparam("dispatcher", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("dispatcher", "table_name", "dispatcher")
modparam("dispatcher", "attrs_avp", "$avp(core_attrs)")
modparam("dispatcher", "ds_ping_method", "OPTIONS")
modparam("dispatcher", "ds_ping_from", "sip:sbc@PING_DOMAIN")
modparam("dispatcher", "ds_ping_interval", 30)
modparam("dispatcher", "ds_probing_mode", 0)

loadmodule "dialog.so"
modparam("dialog", "db_mode", 2)
modparam("dialog", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("dialog", "db_update_period", 10)

modparam("dialog", "default_timeout", 28800)
modparam("dialog", "dlg_match_mode", 1)
modparam("dialog", "rr_param", "txn")

modparam("dialog", "profiles_no_value", "outbound ; inbound")

loadmodule "nathelper.so"
modparam("nathelper", "received_avp", "$avp(rcv)")
modparam("nathelper", "natping_interval", 10)
modparam("nathelper", "ping_nated_only", 1)
modparam("nathelper", "sipping_bflag", "DO_SRC_NAT")
modparam("nathelper", "sipping_from", "sip:pinger@${DOMAIN}")

loadmodule "usrloc.so"
modparam("usrloc", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("usrloc", "nat_bflag", "DO_SRC_NAT")
modparam("usrloc", "use_domain", 1)
modparam("usrloc", "timer_interval", 10)
modparam("usrloc", "desc_time_order", 1)
modparam("usrloc", "working_mode_preset", "single-instance-sql-write-back")

loadmodule "mid_registrar.so"
modparam("mid_registrar", "mode", 2)
modparam("mid_registrar", "received_avp", "$avp(rcv)")
modparam("mid_registrar", "outgoing_expires", 60)

loadmodule "db_mysql.so"
modparam("db_mysql", "timeout_interval", 10)

loadmodule "drouting.so"

modparam("drouting", "db_url", "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_IP}/${MYSQL_DATABASE}")
modparam("drouting", "gw_id_avp", '$avp(gw_id)')
modparam("drouting", "carrier_id_avp", '$avp(carrier_id)')
modparam("drouting", "gw_socket_filter_mode", "matched-only")

loadmodule "statistics.so"
modparam("statistics", "variable", "inbound_calls")
modparam("statistics", "variable", "outbound_calls")

loadmodule "uac.so"

loadmodule "tls_openssl.so"
loadmodule "tls_mgm.so"
modparam("proto_tls", "tls_handshake_timeout", 300)
modparam("proto_tls", "tls_max_msg_chunks", 8)


# -------------------------  request routing logic -------------------

# main routing logic
route {
	xlog("L_INFO", "[$ci] $rm/$ru received from $socket_in(proto):$si:$sp\n");
	force_rport();

	# check sources
	if (ds_is_in_list($si, 0)) {
		# from core server
		setflag("FROM_CORE");

	} else
	if (is_from_gw(, "icn")) {
		# from PSTN/carriers
		setflag("FROM_CARRIER");
	} else {

		# from end point
		if (nat_uac_test("private-contact,diff-ip-src-via,diff-port-src-via"))
			setflag("DO_SRC_NAT");

		# do blackilist filtering
		if (check_source_address(1))
			exit;
	}

	# discard the pings
	if (is_method("OPTIONS") && !has_totag()) {
		# local pinging
		if ($rU != "" && $rU != NULL)
			$ru = "sip:" + $rd;

		options_reply();
		exit;
	}

	if (!mf_process_maxfwd_header(10)) {
		send_reply(483, "Too Many Hops");
		exit;
	}

	if (!sipmsg_validate("hsrm")) {
		send_reply(400, "Bad Request");
		xlog("L_INFO", "[$ci] dropping $rm due to invalid message\n");
		exit;
	}

	# absorb retransmissions and create transaction
	t_newtran();

	if (has_totag()) {
		xlog("[$ci] handling sequential\n");

		# handle hop-by-hop ACK (no routing required)
		if ( is_method("ACK") && t_check_trans() ) {
			t_relay();
			exit;
		}

		route(handle_sequential);
		exit;
	}

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans())
			t_relay();
		exit;
	}

	# Remove preloaded route
	remove_hf("Route");
	ruri_del_param("transport");

	#script_trace(1, "[$ci][si=$si] $rm $ru to $tu ($du)", "DEBUG");

	xlog("L_INFO", "[$ci] routing initial $rm\n");

	if (is_method("INVITE")) {
		$DLG_timeout = 5;
		if (!create_dialog("B")) {
			xlog("[$ci] failed to create dialog ($$fu=$fu/$$tu=$tu)\n");
			send_reply(500, "Server Internal Error 1");
			exit;
		}

		# only for monitoring purposes
		if (isflagset("FROM_CORE")) {
			set_dlg_profile("outbound");
		} else {
			set_dlg_profile("inbound");
		}

		topology_hiding();

	} else
	if (isflagset("FROM_CARRIER") || !is_method("REGISTER")) {

		send_reply(405, "Method Not Allowed");
		exit;

	}

	# cleanup whatever was send upstream
	remove_hf("X-SRC-IP");

	if ( isflagset("FROM_CORE") ) {

		$avp(rtp_dir) = "out";

		# traffic from core servers
		xlog("[$ci] routing $rm from core to <$ru>\n");

		if (dp_translate(1, $ru, $ru)) {
			route(to_pstn);
			exit;
		}

		route( to_user );

		exit;

	
	} else
	if ( isflagset("FROM_CARRIER") ) {

		$avp(rtp_dir) = "in";

		# traffic from carriers
		xlog("[$ci] routing $rm from carrier to core, GW=$avp(gw_id), Carrier <$avp(carrier_id)>>\n");

		if (!route(resolve_did)) {
			xlog("L_ERR", "[$ci] $rm $ru (from $si / $rU) without OBP -> 403\n");
			send_reply(404, "DID Not Found");
			exit;
		}

		route(to_servers, $var(ds_set), $var(force_ip_as_domain));
	
	} else {
	
		$avp(rtp_dir) = "in";

		if (isflagset("DO_SRC_NAT")) {
			fix_nated_contact();
			resetflag("DO_SRC_NAT");
		}

		# check for server mapping
		$var(input) = $fd;
		# traffic from end points
		xlog("[$ci] routing $rm from end points to core ($var(input))\n");

		if (!dp_translate(1, $var(input), $var(ds_set), , "sip_map")) {
			xlog("L_ERR", "[$ci] $rm $ru (from $si / $var(input)) without OBP -> 403\n");
			send_reply(403, "Forbidden - no OBP");
			exit;
		}
		xlog("[$ci] detected routing grp is $var(ds_set) for <$var(input)>\n");

		if (is_method("REGISTER")) {

			if (isflagset("DO_SRC_NAT")) {
				fix_nated_register();
				setbflag("DO_DST_NAT");
			}

			$var(rc) = mid_registrar_save("location");
			switch ($var(rc)) {
			case 1:
				xlog("[$ci] forwarding REGISTER to main registrar...\n");
				break;
			case 2:
				xlog("[$ci] REGISTER has been absorbed!\n");
				exit;
				break;
			default:
				xlog("[$ci] mid-registrar error!\n");
				send_reply(500, "Server Internal Error 2");
				exit;
			}

			# registers should have bigger timer, since there is no 100 Trying
			$T_fr_timeout = 2;

			resetflag("DO_SRC_NAT");
			# we continue here with routing to core

		}

		route( to_servers, $var(ds_set));
		exit;
	}
	exit;
}


route[ to_servers ]
{
	# param 1 holds ds id
	# param 2 (optional) says if we should force the IP as domain
	xlog("[$ci] routing to server set <$param(1)>\n");

	# do dispatching
	if ($param(2) == 1) {
		$var(rc) = ds_select_domain($(param(1){s.int}), 0, "fa", , 3);
		setflag("DO_DS_DOMAIN");
	} else {
		$var(rc) = ds_select_dst($(param(1){s.int}), 8, "fa", , 3);
		resetflag("DO_DS_DOMAIN");
	}

	if ( $var(rc)<0 ) {
		xlog("L_ERR", "[$ci] $rm $ru (from $si / $fu) with set_id $param(1) has no server available\n");
		send_reply(503, "Service Unavailable");
		exit;
	}

	# for the future, we may condition this via some server attribute
	if ($socket_in(af) == "INET6")
		$var(si) = "[" + $si + "]";
	else
		$var(si) = $si;
	append_hf("X-SRC-IP: $var(si):$sp\r\n");

	t_on_failure("dispatcher");

	route(relay);
	exit;
}


# failure route for calls sent to the proxies
failure_route[dispatcher]
{
	if (t_was_cancelled())
		exit;

	xlog("[$ci] $rm to servers failed with $T_reply_code\n");


	if ( (t_local_replied("all") && t_check_status("408"))
	|| t_check_status("5[0-9][0-9]") ){
		xlog("[$ci] $rm failed going to $avp(ds_dst_failover) with $T_reply_code\n");

		if (isflagset("DO_DS_DOMAIN")) {
			$var(rc) = ds_next_domain();
		} else {
			$var(rc) = ds_next_dst();
		}
		if ($var(rc)<0) {
			xlog("L_ERR","[$ci] all destinations failed to set $avp(ds_grp_failover)\n");
			t_reply(500, "Server Unavailable");
			exit;
		}

		


		t_on_failure("dispatcher");
		t_relay();
	}

	# an authentication challenge ?
	if (t_check_status("40[17]")) {
		xlog("[$ci] failed register auth, marking\n");
		if (is_method("REGISTER"))
			$var(user_uri) = $tu;
		else
			$var(user_uri) = $fu;
	}
}


route[ to_user ]
{
	xlog("[$ci] routing to user <$ru>\n");

	
	setflag("TO_USER");
	
	if (!mid_registrar_lookup("location")) {
		xlog("[$ci] mid_reg_lookup() rc: $var(rc), $$rU: $rU\n");
		send_reply(480, "Temporarily Unavailable");
		exit;
	}
	if (isbflagset("DO_DST_NAT"))
		setflag("DO_DST_NAT");

	# the outbound interface should have already forced by the mid_registrar_lookup()

	xlog("[$ci] routing after lookup to $ru/$du via $socket_out\n");

	route(relay);
	exit;

}


route [handle_sequential] {
	if (is_method("ACK"))
		$DLG_timeout = 28810;

	if (!topology_hiding_match()) {
		send_reply(404, "Not Here");
		exit;
	}

	# dialog validation here
	if ($DLG_status!=NULL) {
		xlog("[$ci] dialog status is $DLG_status\n");
		validate_dialog();
		$var(x) = $rc;
		if ($var(x) == -1 || $var(x) == -4) {
			xlog("[$ci] $rm $ru (from $si / $fu) request is not valid and not fixable $var(x)\n");
			##exit;
		} else if ($var(x) == -2 || $var(x) == -3) {
			xlog("[$ci] $rm $ru (from $si / $fu) request is not valid, but fixing $var(x)\n");
			fix_route_dialog();
		}
	}

	$avp(rtp_dir) = $dlg_val(rtp_dir);

	if ($DLG_dir == "downstream") {
		if (is_dlg_flag_set("1"))
			setflag("DO_SRC_NAT");
		else
			resetflag("DO_SRC_NAT");
		if (is_dlg_flag_set("2"))
			setflag("DO_DST_NAT");
		else
			resetflag("DO_DST_NAT");
	} else {
		if (is_dlg_flag_set("1"))
			setflag("DO_DST_NAT");
		else
			resetflag("DO_DST_NAT");
		if (is_dlg_flag_set("2"))
			setflag("DO_SRC_NAT");
		else
			resetflag("DO_SRC_NAT");
	}
	
	xlog("[$ci] routing sequential to $ru/$du\n");
	route(relay);
	exit;
}


route[ to_pstn ]
{
	xlog("[$ci] routing to pstn <$ru>\n");

	if (dp_translate(1, $rU, $rU))
		xlog("[$ci] dialplan translated to <$rU>\n");

	if (!do_routing(1)) {
		xlog("[$ci] no server available in routing group DR_DEFAULT_ROUTING_SET\n");
		send_reply(500, "Service Unavailable");
		exit;
	}

	t_on_failure("drouting");

	xlog("[$ci] using gw $rd via $socket_out, carrier $avp(carrier_id)\n");

	route(relay);
	exit;
}


route[resolve_did] {
	# check for server mapping based on DID
	$var(input) = $rU;
	$var(out) = NULL;
	if (!dp_translate(1, $var(input), $var(out), $var(ds_set), "did_map"))
		return(-1);
	xlog("[$ci] input <$rU> matched with output <$var(out)> and routing grp $var(ds_set)\n");

	if ($var(out)==NULL || $var(out)=="") {
		## no change
		$var(force_ip_as_domain) = 1;
	} else if ( $(var(out){s.select,1,@})==NULL ) {
		## no domain, just DID
		$rU = $var(out);
		$var(force_ip_as_domain) = 1;
	} else {
		## we have domain
		$rd = $(var(out){s.select,1,@});
		$var(force_ip_as_domain) = 0;
		if ( $(var(out){s.select,0,@}{s.select,1,:})==NULL ) {
			# no "sip:" in front
			$rU = $(var(out){s.select,0,@});
		} else {
			$rU = $(var(out){s.select,0,@}{s.select,1,:});
		}
	}
	xlog("[$ci] new RURI is <$rU>\n");

	
	return(1);
}


# failure route for calls drouting'ed to the carriers
failure_route[drouting]
{
	if (t_was_cancelled())
		exit;

	xlog("[$ci] $rm to PSTN failed with $T_reply_code\n");

	if ( (t_local_replied("all") && t_check_status("408"))
	|| t_check_status("5[0-9][0-9]") ){
		xlog("[$ci] $rm failed with $T_reply_code\n");

		if (!use_next_gw()) {
			xlog("L_ERR","[$ci] all gw failed\n");
			t_reply(500, "Service Unavailable");
			exit;
		}

		xlog("[$ci] using new gw $ru/$du via $socket_out\n");
		t_on_failure("drouting");
		t_relay();
	}
}

route[media_proxy]
{
	xlog("[$ci] handling RTP\n");


	if (!has_totag()) {
		$dlg_val(rtp_dir) = $avp(rtp_dir);
		t_on_branch("media_proxy");
	} else {
		route(media_proxy_request);
	}


	if (has_totag()) {
		return;
	}

	$rtp_relay_ctx(callid) = $avp(rtp_dir) + "@" + $ci;

	rtp_relay_engage("rtpengine");
}


route[media_proxy_request]
{
	$rtp_relay = "replace-session-connection replace-origin ";
	$rtp_relay += $rtp_relay(delete) + " ";

	if (!nat_uac_test("private-sdp"))
		$rtp_relay += "trust-address ";


	xlog("[$ci] rtp_relay_offer: [$rtp_relay]\n");
}


branch_route[media_proxy]
{
	if (isflagset("TO_USER"))
		setbflag("TCP_NO_CONNECT");


		$rtp_relay(type) = "RTP/AVP ICE=remove rtcp-mux-demux";
		$rtp_relay_peer(type) = "RTP/AVP ICE=remove rtcp-mux-demux";

	route(media_proxy_request);
}


route[relay]
{
	if (is_method("INVITE") && !has_totag()) {
		if (isflagset("DO_SRC_NAT"))
			set_dlg_flag("1");

		if (isflagset("DO_DST_NAT"))
			set_dlg_flag("2");
	}

	if (isflagset("DO_SRC_NAT"))
		fix_nated_contact();

	t_on_reply("handle_reply");

	if (is_method("INVITE|UPDATE"))
		route(media_proxy);


	xlog("[$ci] sending out to $ru/$du\n");
	t_relay();
}


onreply_route[handle_reply]
{
	xlog("[$ci] reply $rs/$rr received from $socket_in(proto):$si:$sp\n");

	# if INVITE complete RTP session
	if (has_body("application/sdp") ){

		$rtp_relay = "replace-session-connection replace-origin ";
		if (!nat_uac_test("private-sdp"))
			$rtp_relay += "trust-address ";

		xlog("[$ci] rtp_relay_answer: [$rtp_relay]\n");
	}

	if (isflagset("DO_DST_NAT") && !t_check_status("3[0-9][0-9]"))
		fix_nated_contact();
}


error_route {
	xlog("L_INFO", "[$ci] SIP parsing error in $rm\n");
	sl_send_reply($err.rcode, $err.rreason);
	exit;
}
